<!DOCTYPE html>
<html lang="en" xmlns:resize="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Navvy the navigational ChatBot!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity=
                  "sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link rel="stylesheet" href="./static/chatbot/chatbot.css">


</head>

<body>

<!-- Currently BROKEN!
Working prototype on meesrutten.me :) -->
<main class="page__main">
    <div class="block--background">
        <div class="chatbot__overview">
            <ul class="chatlist">
                <li class="bot__output bot__output--standard">Hey, I'm your MedInteract ChatBot</li>
                <li class="bot__output bot__output--standard">
                    <input class="btn btn-primary" type="button" id="createappointment" value="Create Appointment">
                    <input class="btn btn-primary" id ="viewDoctors" type="button" value="View Doctors">
                    <input class="btn btn-primary" id ="viewPatients" type="button" value="View Patients">
                </li>

            </ul>

        </div>
        <div class="chatbox-area">
            <form action="" id="chatform">
                <textarea placeholder="Select any options to continue" class="chatbox" name="chatbox"   minlength="2"></textarea>
                <input class="submit-button" type="submit" value="send">
            </form>
        </div>
        <div class="block--background"></div>
    </div>

</main>



<script src="./static/chatbot/chatbot.js"></script>




</body>

</html>