<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src='./static/chatbot/chatbot.js'></script>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="./static/chatbot/chatbot.css" rel="stylesheet">

</head>
<body>
<header>
    <h1 class="nice-font" id="h" >Trek</h1>
</header>

<main class="nice-font">

</main>

<div id="last"></div>

<footer>
    <div id="command">
        <input placeholder="Input command here " type="text" />
        <button class="shadow nice-font">∆</button>
    </div>
</footer>

</body>
</html>